.App {
  text-align: center;
  margin: auto;
  width: 500px;
  height: 270px;
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.AppBox{
  display: flex;
  justify-content: space-around;
  
}
.AppBox div{
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.AppBox :hover{
background-color: greenyellow;
color: white;
font-weight: bolder;
}
.on{
  text-decoration: underline;
  text-decoration-color: red;
}
body{
  background-color: ghostwhite;
}